body {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 400px;
  width: 300px;
  background: #EBEBEB;
  position: relative;
}


.display {
  background: #2B293D;
  color: #59C3C3;
  text-shadow: 0 0 5px rgba(89, 195, 195, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}


.buttons-wrapper {
  height: 80%;
}

.action-button {
  background: #cad2c5;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
}

.action-button[data-size="2"] {
  height: 40%;
}

.action-button[data-value="null"] {
  pointer-events: none;
}

.action-button:hover {
  background: #d7ddd3;
  cursor: pointer;
}

.action-button:active {
  background: #bdc7b7;
}
